.tracker {
  position: relative;
  width: 100%;
  height: 949px;

  background: #ffffff;
}

/* navbar */
.navbar {
  position: absolute;
  width: 100%;
  height: 72px;
  left: 0px;
  top: 0px;

  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
}

.logo {
  position: absolute;
  width: 200px;
  height: 50.75px;
  left: 135px;
  top: 11px;
}

.nav-text {
  position: absolute;
  width: 145px;
  height: 14px;
  left: 190px;
  top: 29px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 26.1038px;
  line-height: 13px;
  /* or 50% */

  letter-spacing: 3.91557px;

  color: #000000;
}

.g7068 {
  position: absolute;
  width: 44px;
  height: 50.75px;
  left: 135px;
  top: 11px;
}

.g7067 {
  position: absolute;
  width: 23.63px;
  height: 23.63px;
  left: 145.13px;
  top: 24.5px;
}

.vector1 {
  position: absolute;
  width: 44px;
  height: 50.75px;
  left: 135px;
  top: 11px;

  background: #6496eb;
  border-radius: 3.1509px;
}

.vector2 {
  position: absolute;
  width: 23.63px;
  height: 23.63px;
  left: 145.13px;
  top: 24.5px;

  background: #ffffff;
}

.vector3 {
  position: absolute;
  width: 10.8px;
  height: 5.51px;
  left: 151.65px;
  top: 36.43px;

  background: #6496eb;
}

/*search bar*/
.search {
  box-sizing: border-box;

  position: absolute;
  width: 1168px;
  height: 53px;
  left: 136px;
  top: 113px;

  background: #ffffff;
  opacity: 0.7;
  /* light blue */

  border: 1px solid rgba(21, 20, 57, 0.4);
  border-radius: 10px;
}

.txt {
  position: absolute;
  width: 225px;
  height: 10px;
  left: 40px;
  top: 20px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 10px;
  /* identical to box height, or 62% */

  letter-spacing: 0.01em;

  color: #000000;

  opacity: 0.5;
}

.symbol {
  position: absolute;
  width: 64.13px;
  height: 53.62px;
  left: 1240px;
  top: 112px;

  background: #6496eb;
  border-radius: 0px 9px 9px;
}

.g7104 {
  position: absolute;
  width: 1168px;
  height: 992px;
  left: 136px;
  top: 216px;
}

.border {
  position: absolute;
  width: 545px;
  height: 212px;
  left: 136px;
  top: 216px;
}

.box {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0.47%;
  bottom: 0.47%;

  /* Color/white

FFFFFF
*/
  background: #ffffff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.border1 {
  position: absolute;
  width: 545px;
  height: 212px;
  left: 65px;
  top: 80px;
}

.border2 {
  position: absolute;
  width: 545px;
  height: 212px;
  left: 700px;
  top: 80px;
}

.border3 {
  position: absolute;
  width: 545px;
  height: 212px;
  left: 65px;
  top: 376px;
}

.border4 {
  position: absolute;
  width: 545px;
  height: 212px;
  left: 700px;
  top: 376px;
}

.border5 {
  position: absolute;
  width: 545px;
  height: 212px;
  left: 65px;
  top: 636px;
}

.border6 {
  position: absolute;
  width: 545px;
  height: 212px;
  left: 700px;
  top: 636px;
}

.border7 {
  position: absolute;
  width: 545px;
  height: 212px;
  left: 65px;
  top: 896px;
}

.border8 {
  position: absolute;
  width: 545px;
  height: 212px;
  left: 700px;
  top: 896px;
}

.det {
  position: absolute;
  left: 45.14%;
  right: 13.5%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

  /* Black */

  color: #333333;
}

.name1 {
  top: 11.9%;
  bottom: 69.93%;
}

.email1 {
  top: 33.33%;
  bottom: 48.1%;
}

.place1 {
  top: 51.9%;
  bottom: 29.52%;
}

.cost1 {
  top: 70.48%;
  bottom: 10.95%;
}

.img {
  position: absolute;
  width: 130px;
  height: 130px;
  left: 35px;
  top: 35px;

  border: 1.07059px solid #ffffff;
  border-radius: 20%;
}

.img1 {
  background: url(.jpg), url(.jpg), url(image1.jpg);
  /* White */
}

.img2 {
  background: url(.jpg), url(.jpg), url(image2.jpg);
  /* White */
}

.img3 {
  background: url(.jpg), url(.jpg), url(image3.jpg);
  /* White */
}

.img4 {
  background: url(.jpg), url(.jpg), url(image4.jpg);
  /* White */
}

.img5 {
  background: url(.jpg), url(.jpg), url(image5.jpg);
  /* White */
}

.img6 {
  background: url(.jpg), url(.jpg), url(image6.jpg);
  /* White */
}

.img7 {
  background: url(.jpg), url(.jpg), url(image7.jpg);
  /* White */
}

.img8 {
  background: url(.jpg), url(.jpg), url(image8.jpg);
  /* White */
}

/* footer */
.footer {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 1400px;
  bottom: 0%;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.wlogos {
  position: absolute;
  left: 9.45%;
  right: 84.57%;
  top: 20.42%;
  bottom: 71.25%;
}

.wlogos p {
  position: absolute;
  width: 86px;
  height: 32px;
  left: 0px;
  top: -40px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  /* identical to box height */

  text-align: center;
  letter-spacing: -0.292683px;

  color: #000000;
}

.divider {
  position: absolute;
  left: 9.45%;
  right: 9.31%;
  top: 50%;
  bottom: 49.17%;

  mix-blend-mode: normal;
  opacity: 0.3;
  border: 2px solid #000000;
}

.menu {
  position: absolute;
  left: 9.38%;
  right: 9.31%;
  top: 70.42%;
  bottom: 18.58%;
}

.item {
  position: absolute;
  height: 26px;
  top: calc(50% - 26px / 2 + 62px);

  /* Text / Paragraph */

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  color: #000000;
}

.home {
  left: 1%;
  right: 87.57%;
}

.about {
  left: 10%;
  right: 81.18%;
}

.contact {
  left: 20%;
  right: 73.59%;
}

.tag {
  left: 69.93%;
  right: 9.31%;
}
