body{
    padding: 0%;
    margin: 0%;
}

.login{
    position: relative;
    width: 1440px;
    height: 949px;

    background: #FFFFFF;
}

.navbar{
    position: absolute;
    width: 1440px;
    height: 72px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);

}

.container-fluid{
    
    position: absolute;
    width: 200px;
    height: 50.75px;
    left: 135px;
    top: 11px;

}

.g7068{
    position: absolute;
    width: 44px;
    height: 50.75px;
    left: 135px;
    top: 11px;

}

.g7067{
    position: absolute;
    width: 23.63px;
    height: 23.63px;
    left: 145.13px;
    top: 24.5px;
}

.vector1{
    position: absolute;
    width: 44px;
    height: 50.75px;
    left: 135px;
    top: 11px;

    background: #6496EB;
    border-radius: 3.1509px;
}

.vector2{
    position: absolute;
    width: 23.63px;
    height: 23.63px;
    left: 145.13px;
    top: 24.5px;

    background: #FFFFFF;
}

.vector3{
    position: absolute;
    width: 10.8px;
    height: 5.51px;
    left: 151.65px;
    top: 36.43px;

    background: #6496EB;
}

.name{
    position: absolute;
    width: 145px;
    height: 14px;
    left: 190px;
    top: 29px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 26.1038px;
    line-height: 13px;


    letter-spacing: 3.91557px;

    color: #000000;
}